@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* dark scroll bar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #929292;
}        

::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

@layer components{
  .bg-glass{
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 border hover:bg-gray-600/10 border-gray-800 text-white transition duration-150 ease-out
  }
}